<div class="col-xs-10 col-xs-offset-1 about">
	<h1> About Splurty </h1>

<br />
<p> 
	Splurty was built by <a target="_blank" href="http://github.com/emilymay42">Emily</a>, a student of <a target="_blank" href="http://thefirehoseproject.com">The Firehose Project</a>. 
</p> 
<p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
  </p>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'emily.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center"> Emily Nelson </h2>
	<br />
	<p>
		Emily Nelson has a BA from Stanford University and an MFA in Creative Writing from Fairfield University. When she isn't coding websites, she's playing with her three dogs and training to hike the Pacific Crest Trail.  
	</p>
</div>
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />